<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row0"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="Tabulka 2: Rozpětí odhadu hodnot populačního karcinogenního rizika pro benzo[a]pyren v hodnocených typech lokalit sídel o velikosti nad 5 tis. obyvatel*, 2009–2017"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row2"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="počet přídatných případů na 100 000 obyvatel"/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row3"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="města (nad 5 tis. – 5 mil. obyv.)"/>
</config>
<config key="Variable_3">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row4"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="lokality bez dopravní a průmyslové zátěže"/>
</config>
<config key="Variable_4">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row5"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="lokality s dopravní zátěží"/>
</config>
<config key="Variable_5">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row6"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="průmyslové lokality"/>
</config>
<config key="Variable_6">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row7"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="* zahrnuje cca 5 mil obyvatel"/>
</config>
<config key="Variable_7">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row8"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="Pro potřeby hodnocení zdravotních rizik byla data zpracována ve formě rozpěťových intervalů pro ČR, pro všechny městské stanice (celkem cca 5 mil. obyvatel) a pro vybrané typy městských lokalit (obytné bez dopravní a průmyslové zátěže, městské s dopravní nebo s průmyslovou zátěží). Uvedený postup nelze pro nedostatek údajů použít pro podrobnější rozlišení pro hodnocení zátěže obyvatel malých sídel (&lt; 5 000 obyvatel – cca 5 mil. obyvatel)."/>
</config>
<config key="Variable_8">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row9"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="Jako indikátor pro hodnocení byl vybrán BaP, který přispívá k zátěži nejvyšším podílem (jeho ILCR se pohybuje v rozmezí 10-5 až 10-3)."/>
</config>
<config key="Variable_9">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row10"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="Zdroj: SZÚ"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="column" type="xstring" value="Col0"/>
<config key="ignore missing_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignore missing" type="xboolean" value="true"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.flowvariable.tablecoltovariable3.TableColumnToVariable3NodeFactory"/>
<entry key="node-name" type="xstring" value="Table Column to Variable"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.2.0.v202007101308"/>
<entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.2.0.v202007101308"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Table Column to Variable"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObject"/>
<entry key="port_object_summary" type="xstring" value="Variables connection"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="a3910e27-8fcc-4c16-b707-354b787affdc"/>
</config>
</config>
